@page
@model BehineNiroo.EventModel
@{
    Layout = null;
    ViewData["Title"] = "سامانه رخدادها";
}
@inject SignInManager<IdentityUser> signInManager;
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BehineNiroo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<link href="~/css/mdb-pro.min.css" rel="stylesheet" />*@
    <script type="text/javascript" src="~/js/PersianDatePicker.min.js"></script>
    <link type="text/css" rel="stylesheet" href="~/css/PersianDatePicker.min.css" />
    @*<link rel="stylesheet" href="~/css/site.css" />*@
    <link rel="icon" href="~/images/BehinehLogo0.gif" />
    <!-- Font Awesome -->
    <link href="~/FontAwesome/css/all.css" rel="stylesheet" />
    <!-- Bootstrap core CSS -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="~/css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="~/css/style.min.css" rel="stylesheet">
    <script src="~/lib/jqueryui/jquery-ui.js"></script>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="~/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="~/js/mdb.min.js"></script>
    <!-- Initializations -->

    <script type="text/javascript">
        // Animations initialization
        new WOW().init();
    </script>


    <script type="text/javascript">

        @*function main() {
            var wholetext = "";
            showcity();
            function showcity() {
                $.ajax({
                    type: 'GET',
                    dataType: 'json',
                    contentType: 'application/json',
                    url: '@Url.Page("Event","Citynames")',
                    success: function (result) {
                        var post = "";
                        //var text = "";
                        debugger;
                        for (i = 0; i < result.length; i++) {
                            debugger;
                            post = showpost(result[i]);
                            debugger;
                            wholetext += "<li>" +
                                "<input type=checkbox name=city value=" + result[i] + ">" +
                                "<lable asp-for=Input.City> " + result[i] + "</lable><ul style=\"list-style=none;\" id=id-" + result[i] + "-id>" +
                                post + "</ul></li>";
                        }
                        //$("#citynames").html(text);
                        $("#citynames").html(wholetext);
                    },
                    error: function (err) {
                    }
                });
            }

            function showpost(city) {
                //var cityvalue = city.value;
                debugger;
                var text = "";
                $.ajax({
                    type: 'GET',
                    dataType: 'json',
                    data: { cityname: city },
                    contentType: 'application/json',
                    url: '@Url.Page("Event","Postnames")',
                    success: function (result) {
                        var feeder = "";
                        debugger;
                        for (i = 0; i < result.length; i++) {
                            debugger;
                            feeder = showfeeder(city, result[i]);
                            debugger;
                            text += "<li>" + 
                                "<input type=checkbox name=post value=" + result[i] + ">" +
                                "<lable asp-for=Input.Post> " + result[i] + "</lable><ul style=\"list-style=none;\"  id=id-" + city + "-id-id-" + result[i] + ">" +
                                feeder + "</ul></li >";
                        }
                        $("#id-" + city + "-id").html(text);
                    },
                    error: function (err) {
                    }
                });
                debugger;
                return text;
            }

            function showfeeder(city, post) {
                debugger;
                var text = "";
                $.ajax({
                    type: 'GET',
                    dataType: 'json',
                    data: { cityname: city , postname: post },
                    contentType: 'application/json',
                    url: '@Url.Page("Event","Feedernames")',
                    success: function (result) {
                        var i;
                        debugger;
                        for (i = 0; i < result.length; i++) {
                            text += "<li>" +
                                "<input type=checkbox name=Input.Feeder id=Input_Feeder value=" + city + "_" + post + "_" + result[i] + ">" +
                                "<lable asp-for=Input.Feeder> " + result[i] + "</lable></li>";
                        }
                        $("#id-" + city + "-id-id-" + post).html(text);
                    },
                    error: function (err) {
                        debugger;
                        alert(err.value);
                    }
                });
                var n = text;
                debugger;
                return text;
            }

            $("#citynames").html(wholetext);
        }*@

        function myFunction() {
            setInterval(function () {
                $('input[type="checkbox"]').change(function (e) {

                    var checked = $(this).prop("checked"),
                        container = $(this).parent(),
                        siblings = container.siblings();

                    container.find('input[type="checkbox"]').prop({
                        indeterminate: false,
                        checked: checked
                    });

                    function checkSiblings(el) {

                        var parent = el.parent().parent(),
                            all = true;

                        el.siblings().each(function () {
                            let returnValue = all = ($(this).children('input[type="checkbox"]').prop("checked") === checked);
                            return returnValue;
                        });

                        if (all && checked) {

                            parent.children('input[type="checkbox"]').prop({
                                indeterminate: false,
                                checked: checked
                            });

                            checkSiblings(parent);

                        } else if (all && !checked) {

                            parent.children('input[type="checkbox"]').prop("checked", checked);
                            parent.children('input[type="checkbox"]').prop("indeterminate", (parent.find('input[type="checkbox"]:checked').length > 0));
                            checkSiblings(parent);

                        } else {

                            el.parents("li").children('input[type="checkbox"]').prop({
                                indeterminate: true,
                                checked: false
                            });

                        }

                    }
                    checkSiblings(container);
                });
            }, 500);
        }
        myFunction();

        $(function () {
            $("#Input_SettingCheckbox").click(function () {
                //debugger;
                if ($(this).is(":checked")) {
                    $("#savesetting").css({
                        "visibility": "visible"
                    });
                    $("#Input_SettingName").prop('required', true);
                    $("#Input_SettingName").removeClass('border-success');
                    $("#Input_SettingName").removeClass('border-danger');
                } else {
                    $("#savesetting").css({
                        "visibility": "hidden"
                    });
                    $("#Input_SettingName").prop('required', false);
                    $("#Input_SettingName").val('');
                    $("#showbtn").prop('disabled', false);
                    $("#settingnameexist").html("");
                }
            });

            $("#Input_SettingName").keyup(function () {
                var name = $(this).val();
                $.ajax({
                    type: 'GET',
                    dataType: 'json',
                    data: { SettingName : name },
                    contentType: 'application/json',
                    url: '@Url.Page("Event","SettingNameExist")',
                    success: function (result) {
                        if (result == true) {
                            debugger;
                            var text = ".این نام قبلا انتخاب شده است";
                            $("#settingnameexist").html(text);
                            $("#showbtn").prop('disabled', true);
                            $("#Input_SettingName").removeClass('border-success');
                            $("#Input_SettingName").addClass('text-danger');
                            $("#Input_SettingName").addClass('border-danger');
                        }
                        else {
                            $("#settingnameexist").html("");
                            $("#showbtn").prop('disabled', false);
                            $("#Input_SettingName").removeClass('text-danger');
                            $("#Input_SettingName").removeClass('border-danger');
                            $("#Input_SettingName").addClass('border-success');
                        }
                    }
                });
            });
        });

        function postback() {
            debugger;
            if (!this.IsPostBack) {
                $('input[type = "checkbox"]').prop("checked", false);
            }
        }

    </script>

    <style>
        .validation-summary-errors ul {
            list-style: none;
            font-family: 'B Yekan';
            text-align: right
        }
    </style>

</head>
<body onload="postback()">
    <header>
        <nav class="navbar fixed-top navbar-toggleable-sm navbar-expand-lg navbar-dark scrolling-navbar bg-dark mb-3">
            <div class="container">
                <a class="navbar-brand text-white" href="#">
                    <img src="~/images/BehinehLogo0.gif" height="35" alt="BehineNiroo logo">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse ">
                    <ul class="navbar-nav ">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-page="/Index" style="font-family:'B Yekan';font-size:1.2rem;">خانه</a>
                        </li>
                        @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown">
                                <a style="font-family: 'B Yekan'; font-size: 1.2rem;" class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    مدیریت
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a style="font-family: 'B Yekan'; font-size: 1.2rem;" class="dropdown-item nav-link text-dark text-right" asp-area="" asp-page="/UserManagement/Index">کاربران</a>
                                    <a style="font-family: 'B Yekan'; font-size: 1.2rem;" class="dropdown-item nav-link text-dark text-right" asp-area="" asp-page="/Administration/ListRoles">نقش ها</a>
                                    <a style="font-family: 'B Yekan'; font-size: 1.2rem;" class="dropdown-item nav-link text-dark text-right" asp-area="" asp-page="/Account/ChangePassword">تغییر کلمه عبور</a>
                                </div>
                            </li>

                        }
                        <li class="nav-item">
                            <a style="font-family: 'B Yekan'; font-size: 1.2rem;" class="nav-link text-white" asp-area="" asp-page="#">رخدادها</a>
                        </li>
                        <li class="nav-item">
                            <a style="font-family: 'B Yekan'; font-size: 1.2rem;" class="nav-link text-white" asp-area="" asp-page="/Energy/Energy">انرژی</a>
                        </li>
                        <li class="nav-item">
                            <a style="font-family: 'B Yekan'; font-size: 1.2rem;" class="nav-link text-white" asp-area="" asp-page="/Logger/Logger">لاگر</a>
                        </li>
                        <li class="nav-item">
                            <a style="font-family: 'B Yekan'; font-size: 1.2rem;" class="nav-link text-white" asp-area="" asp-page="/Online/Online">آنلاین</a>
                        </li>
                        <li class="nav-item">
                            <a style="font-family: 'B Yekan'; font-size: 1.2rem;" class="nav-link text-white" asp-area="" asp-page="">فرمان</a>
                        </li>
                        <li class="nav-item">
                            <a style="font-family: 'B Yekan'; font-size: 1.2rem;" class="nav-link text-white" asp-area="" asp-page="">Rmsخطای</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        @if (signInManager.IsSignedIn(User))
                        {
                            <li class="nav-item text-white">
                                <form method="post" asp-page="/Account/Logout">
                                    <button type="submit" style="width: auto; font-family: 'B Yekan'; font-size: 1.2rem;" class="nav-link btn btn-link py-0 text-white">
                                        خروج @User.Identity.Name
                                    </button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a style="font-family: 'B Yekan'; font-size: 1.2rem;" class="nav-link text-white" asp-area="" asp-page="/Account/Login">ورود به حساب</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="full-page-intro view" style=" background-image: url('/images/wp3246615.jpg');min-height:100%;height:auto;
     background-repeat: no-repeat; background-attachment:fixed; background-size:cover">
        <div class="row">
            <form method="post" class=" col-md-12 pt-lg-4">
                <div class="text-center text-white mt-lg-5">
                    <h3 style="font-family:'B Yekan'">بهینه نیرو اسپادان - سیستم رخدادها</h3>
                    <h5 style="font-family:'B Yekan'"><a asp-page="/Event/RealTimeEvents" class="text-white">برای مشاهده لحظه&zwnj;ای رخدادها کلیک کنید</a></h5>
                </div>
                <hr />
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card" style="height:100%">
                                <div class="card-header">
                                    <h5 class="text-right" style="font-family:'B Yekan'">انتخاب شهر-پست-فیدر</h5>
                                </div>
                                <div class="card-body">
                                    <div class="text-right" style="font-family: 'B Yekan';"><span asp-validation-for="Input.Feeder" class="text-danger"></span></div>
                                    <div class="treeview font-weight-normal">
                                        <ul class="mb-3" id="citynames">
                                            @(new Microsoft.AspNetCore.Html.HtmlString(Model.CityPostFeederListItems))
                                        </ul>
                                    </div>
                                    <div class="text-right">
                                        <label style="font-family:'B Yekan';font-size:small;"> :تعداد نتایج لحظه&zwnj;ای</label>
                                        <input class="form-control text-right" asp-for="Input.RealTimeEventCount" value="20" style="font-family:'B Yekan';font-size:small" type="text" placeholder="تعداد نتایجی که می خواهید نمایش داده شود" />
                                    </div>
                                    <br />
                                    <button type="submit" id="showbtn" asp-page-handler="RealTime" class="btn btn-primary blue-gradient" style="border-radius: 10em;font-family:'B Yekan';font-size:small;width:100%">نمایش نتایج لحظه&zwnj;ای<i class="fas fa-th"></i></button>
                                </div>
                            </div>
                            <br />
                        </div>
                        <div class="col-md-4">
                            <div class="card" style="height:100%">
                                <div class="card-header">
                                    <h5 class="text-right" style="font-family:'B Yekan';">انتخاب بازه زمانی</h5>
                                </div>
                                <div class="card-body">
                                    <div class="form-group text-right">
                                        <label asp-for="StartDate" style="font-family:'B Yekan';font-size: small;">از (پنج روز قبل)</label>
                                        <input style="font-family:'B Yekan';font-size: small;" class="form-control" type="text" id="FromDate" asp-for="StartDate" onclick="PersianDatePicker.Show(this,'@Model.StartDate')" name="SDate" />
                                    </div>
                                    <div class="form-group text-right">
                                        <label asp-for="EndDate" style="font-family:'B Yekan';font-size: small;">تا (امروز)</label>
                                        <input style="font-family:'B Yekan';font-size: small;" class="form-control" type="text" asp-for="EndDate" onclick="PersianDatePicker.Show(this,'@Model.EndDate')" id="ToDate" name="EDate" />
                                    </div>
                                    <button type="submit" asp-page-handler="DateRange" id="showbtn" class="btn btn-primary blue-gradient" style="border-radius: 10em;font-family:'B Yekan';font-size:small;width:100%">نمایش نتایج بازه زمانی<i class="fas fa-th"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card" style="height:100%">
                                <div class="card-header">
                                    <h5 class="text-right" style="font-family:'B Yekan'">انتخاب نوع رخداد</h5>
                                </div>
                                <div class="card-body">
                                    <div class="form-group text-right">
                                        <div class="radio">
                                            <label style="font-family:'B Yekan';font-size: small;">نمایش رخدادهای داخلی و رخدادهای فرایند <input asp-for="Input.EventType" type="radio" value="2"></label>
                                        </div>
                                        <div class="radio">
                                            <label style="font-family:'B Yekan';font-size: small;">تنها رخدادهای فرایند نمایش داده شوند <input asp-for="Input.EventType" type="radio" value="0" checked></label>
                                        </div>
                                        <div class="radio">
                                            <label style="font-family:'B Yekan';font-size: small;">تنها رخدادهای داخلی نمایش داده شوند <input asp-for="Input.EventType" type="radio" value="1"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="d-flex justify-content-center">
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 text-right">
                            <div class="bg-white pt-2 pl-2 pr-2 " style="font-family: 'B Yekan';font-size: small;border-top-left-radius:5px; border-top-right-radius: 5px; vertical-align: middle;">
                                <label asp-for="Input.SettingCheckbox">
                                    ذخیره تنظیمات کنونی
                                </label>
                                <input asp-for="Input.SettingCheckbox" />
                            </div>
                            <div class="bg-white p-2 " id="savesetting" style="font-family: 'B Yekan';font-size: small;visibility:hidden; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">
                                <input asp-for="Input.SettingName" dir="auto" class="ml-2 settingname" placeholder="...نام تنظیم" />
                                <label asp-for="Input.SettingName">: نام</label>
                                <div class="mt-2"><span style="font-family:'B Yekan'" class="text-danger" id="settingnameexist"></span></div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="row d-flex flex-row-reverse">
                                <div class="text-right">
                                    <a asp-page="/Settings/SavedSetting" asp-route-type="event" style="font-family:'B Yekan';width:auto; border-radius: 10em;font-size:small" class="btn btn-info aqua-gradient">تنظیمات ذخیره شده <i class="fa fa-cog"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
            </form>
        </div>
    </div>


    <footer class="page-footer text-center font-small wow fadeIn">
        <div class="footer-copyright py-3">
            &copy; 2020 - All Rights Reserved For BehineNiroo Co.<br />
            <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>*@
    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script src="~/js/treeview.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.treeview').mdbTreeview();
        });
    </script>
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
